In [8]:
%pip install pandas numpy matplotlib seaborn wordcloud nltk scikit-learn plotly

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: wordcloud in c:\programdata\anaconda3\lib\site-packages (1.9.4)
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (5.24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from plotly) (9.0.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from wordcloud import WordCloud
from textblob import TextBlob
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [12]:
import pandas as pd
import random

# -----------------------------
# 1. Sample Data Lists
# -----------------------------
event_names = [
    "AI Workshop", "Cloud Computing Seminar", "Coding Competition",
    "Cultural Fest", "Cybersecurity Workshop", "Hackathon",
    "Data Science Seminar", "Robotics Demo", "Startup Pitch Event"
]

departments = [
    "Computer Science", "Electronics", "Mechanical",
    "Civil", "IT", "Management"
]

event_types = ["Workshop", "Seminar", "Competition", "Technical Talk"]

sample_comments = [
    "Great event, very informative!",
    "Could be more interactive.",
    "Loved the speaker and content.",
    "The event started late.",
    "Amazing experience!",
    "Too many participants, difficult to manage.",
    "Well organized and detailed.",
    "Not satisfied with the arrangements.",
    "Excellent session, learned a lot!",
    "Average event, could improve the pace."
]

# -----------------------------
# 2. Generate 200 sample rows
# -----------------------------
rows = []

for i in range(200):
    row = {
        "Student ID": random.randint(100, 999),
        "Event Name": random.choice(event_names),
        "Department": random.choice(departments),
        "Event Type": random.choice(event_types),
        "Overall Rating (1-10)": random.randint(1, 10),
        "Comments": random.choice(sample_comments)
    }
    rows.append(row)

# -----------------------------
# 3. Convert to DataFrame
# -----------------------------
df = pd.DataFrame(rows)

# -----------------------------
# 4. Save to CSV
# -----------------------------
df.to_csv("event_feedback.csv", index=False)

df.head()

,Student ID,Event Name,Department,Event Type,Overall Rating (1-10),Comments
0,251,Data Science Seminar,Electronics,Seminar,7,"Great event, very informative!"
1,950,Startup Pitch Event,Computer Science,Technical Talk,7,"Average event, could improve the pace."
2,446,Cybersecurity Workshop,Mechanical,Competition,8,The event started late.
3,587,Hackathon,IT,Workshop,3,Amazing experience!
4,915,Data Science Seminar,Electronics,Competition,7,Amazing experience!

In [13]:
import pandas as pd
import numpy as np

In [14]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Administrator\Documents\DS_03\data\Raw.csv')

df.columns = [
    "row_id",
    "student_id",
    "well_versed",
    "explains_concepts",
    "presentations",
    "assignment_difficulty",
    "solves_doubts",
    "course_structure",
    "student_support",
    "recommendation"
]

df.to_csv("cleaned_feedback.csv", index=False)
df.head()

,row_id,student_id,well_versed,explains_concepts,presentations,assignment_difficulty,solves_doubts,course_structure,student_support,recommendation
0,0,340,5,2,7,6,9,2,1,8
1,1,253,6,5,8,6,2,1,2,9
2,2,680,7,7,6,5,4,2,3,1
3,3,806,9,6,7,1,5,9,4,6
4,4,632,8,10,8,4,6,6,9,9

In [15]:
df["event_name"] = ""
df["department"] = ""
df["event_type"] = ""
df["comments"] = ""

In [19]:
df.to_csv(r"C:\Users\Administrator\Documents\DS_03\data\Raw.csv",index=False)
df.head(10)

,row_id,student_id,well_versed,explains_concepts,presentations,assignment_difficulty,solves_doubts,course_structure,student_support,recommendation,event_name,department,event_type,comments
0,0,340,5,2,7,6,9,2,1,8,,,,
1,1,253,6,5,8,6,2,1,2,9,,,,
2,2,680,7,7,6,5,4,2,3,1,,,,
3,3,806,9,6,7,1,5,9,4,6,,,,
4,4,632,8,10,8,4,6,6,9,9,,,,
5,5,832,7,2,7,8,3,5,1,4,,,,
6,6,772,9,3,5,2,10,3,8,1,,,,
7,7,961,9,8,7,4,4,3,3,10,,,,
8,8,814,6,5,8,6,4,4,7,9,,,,
9,9,863,5,9,4,7,9,4,4,5,,,,

## Rename the columns

In [26]:
df = pd.read_csv(r"C:\Users\Administrator\Documents\DS_03\data\Raw.csv")

df = df.rename(columns={
    'Student ID': 'student_id',
    'Well versed with the subject': 'well_versed',
    'Explains concepts in an understandable way': 'explains_concepts',
    'Use of presentations': 'presentations',
    'Degree of difficulty of assignments': 'assignment_difficulty',
    'Solves doubts willingly': 'solves_doubts',
    'Structuring of the course': 'course_structure',
    'Provides support for students going above and beyond': 'student_support',
    'Course recommendation based on relevance': 'recommendation'
})

## Rename Columns

In [21]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

## Handle Missing Comments

In [23]:
df['comments'] = df['comments'].fillna("")

In [27]:
df = df.drop(columns=['Unnamed: 0'], errors='ignore')

## Convert Rating Columns to Numeric

In [29]:
rating_cols = [
    'well_versed',
    'explains_concepts',
    'presentations',
    'assignment_difficulty',
    'solves_doubts',
    'course_structure',
    'student_support',
    'recommendation'
]

for col in rating_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [30]:
df.to_csv(r"C:\Users\Administrator\Documents\DS_03\outputs\cleaned_feedback.csv", index=False)